<!DOCTYPE html>

<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Heart Attack Predictor</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='Heart-icon.png') }}">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
        <link href="https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Neucha&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>

    <body>

        <!-- Website Title -->
    	<div class="container">
            <h1 class='container-heading'><span class="heading_font">Heart Attack Prediction Tool</span></h1>
            <div class='description'>
    			<p>A Machine Learning Web App, Built with Flask, Deployed using Heroku.</p>
    		</div>
    	</div>

        <!-- Text Area -->
    	<div class="ml-container">
    		<form action="{{ url_for('comparealgo') }}" method="POST">
        		<button class="button button1">ML Algorithm's Comparison Result</button> <br/><br/><br/>
           	</form>
        	<form action="{{ url_for('naivebayes') }}" method="POST">
        		<button class="button button2">Prediction using Naive Bayes Algo</button> <br/><br/><br/>
           	</form>
           	<form action="{{ url_for('randomforest') }}" method="POST">
        		<button class="button button3">Prediction using Random Forest Algo</button> <br/><br/><br/>
           	</form>
           	<form action="{{ url_for('xgboostclassification') }}" method="POST">
        		<button class="button button4">Prediction using XgBoost Algo</button> <br/><br/><br/>
           	</form>
    	</div>

        <!-- Footer -->
       	<div class='footer'>
            <div class="contact">
                <a target="_blank" href="https://facebook.com/arya.shubh" class="fa fa-facebook"></a>
                <a target="_blank" href="https://github.com/shubh-learner/ML---Natural-Language-Processing" class="fa fa-github"></a>
            </div>
            <p class='footer-description'>Action is the foundational key to all success. ❤️ Shubh Arya.</p>
        </div>

    </body>
</html>
